<header role="banner" class="site-header">

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-10 accessbar">
               <a href="#iracessibilidade" id="iracessibilidade" name="iracessibilidade" class="sr-only">Início da Navegação de Acessibilidade</a>

               <ul class="access">
                <li><a href="#navbar"><span class="label label-access">enter</span>Ir para Navegação</a></li>
                <li><a href="#irconteudo"><span class="label label-access">alt + 1</span> Ir para Conteúdo</a></li>
                <li><a href="#irbusca"><span class="label label-access">alt + 2</span> Ir para Busca</a></li>
                <li><a href="#iracoes"><span class="label label-access">alt + 3</span> Ir para Barra de Ações</a></li>
                <li><a href="#irvisualizacao"><span class="label label-access">alt + 4</span> Ir para Barra de Visualização</a></li>
                <li><a href="#iracessibilidade" accesskey="6"><span class="label label-access">alt + 5</span> Acessibilidade</a></li>
                <li><a href="#irmapasite" accesskey="7"><span class="label label-access">alt + 6</span> Mapa do Site</a></li>
               </ul>
               <a href="#fimacessibilidade" id="fimacessibilidade" name="fimacessibilidade" class="sr-only">Fim da Navegação de Acessibilidade</a>

            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
           <div class="col-xs-2">{% include nav.html %}</div>
           <div class="col-xs-8">
               <h2 class="page-title" role="heading">{{ page.title }}</h2>
           </div>
           <div class="col-sm-2">
               <span class="userbar userbar-nav">
                   <a href="#" class="btn btn-default" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Olá, Victor Santos<i class="material-icons lg first">&#xE853;</i></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Ajuda</a></li>
                        <li><a href="#">Suporte</a></li>
                        <li><a href="#">Sair</a></li>
                    </ul>
               </span>
            </div>

        </div>

    </div>

</header>

  
