<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

{% assign lvl = page.url | append:'X' | split:'/' | size %}
{% capture relative %}{% for i in (3..lvl) %}../{% endfor %}{% endcapture %}
   <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="Descrição do Sistema ou site">

  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <!-- Place favicon.ico in the root directory -->
  <link rel="stylesheet" href="{{ relative }}css/main.css">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="/feed.xml" />
    <script type="text/javascript" language="javascript" src="{{ relative }}js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" language="javascript" src="{{ relative }}js/bootstrap.js"></script>
    <script type="text/javascript" language="javascript" src="{{ relative }}js/main.js"></script>
<!--<script type="text/javascript" language="javascript" src="{{ relative }}js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" language="javascript" src="{{ relative }}js/dataTables.bootstrap.js"></script>
	<script type="text/javascript" language="javascript" src="{{ relative }}js/dataTables.responsive.min.js"></script>-->
	<script type="text/javascript" language="javascript" src="{{ relative }}js/datatables.js"></script>
	<script type="text/javascript" language="javascript" src="{{ relative }}js/data-table.min.js"></script>
<!--
        <script type="text/javascript" language="javascript" src="{{ relative }}js/jquery.hotkeys-0.7.9.js"></script>
-->
<script type="text/javascript" language="javascript" src="{{ relative }}js/jquery.datetimepicker.js"></script>
    
   