<div id="viewbar" class="navbar-collapse collapse" aria-expanded="false" role="menu">
        <a href="#irvisualizacao" id="irvisualizacao" name="irvisualizacao" class="sr-only" accesskey="5">Início da Barra de Visualizações</a>
    <ul class="nav navbar-nav nav-stacked" role="menu">
    {% for nav in site.data.comp-view %}

        {% if nav.sub != null %}
            <li class="dropdown">
                <a href="#{{ nav.id }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ nav.title }} <span class="caret last"></span><span class="sr-only">Abrir Submenu</span></a>

                <ul id="{{ nav.id }}" class="dropdown-menu">
                    <!-- 2nd level -->
                    {% for sub in nav.sub %}
                        <li>
                            <a href="{{ relative }}{{ sub.href }}">
                            {{ sub.title }}
                            </a>
                        </li>
                    {% endfor %}
                    <li class="sr-only"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Fechar Submenu</a></li>
                </ul>

            </li>
            {% else %}

            <li>
                <a href="{{ relative }}{{ nav.href }}">{{ nav.title }}</a>
            </li>

        {% endif %}

    {% endfor %}
    </ul>
        <a href="#fimvisualizacao" id="fimvisualizacao" name="fimvisualizacao" class="sr-only">Fim da Barra de Visualizações</a>

</div><!--/.nav-collapse -->

