// para documentação

.documentacao {

  .btn-lg {
      overflow: hidden;
      
      span {
      display: block;
      float: left;
      padding-top: 15px;
      padding-left: 10px;
      }
  }

} //.documentacao