<html ng-app="app">
    <head>
        <title>Curso AngularJS</title>
        <meta charset="utf-8">
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
      
    </head>
    <body>
        
        <div ng-controller="Aula26Controller">
        
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                    
                        <h1>Accordion</h1>
                        
                        
                        <input type="text" ng-model="accor.heading">
                        <input type="text" ng-model="accor.content">
                        <button type="button" ng-click="addAccordion()">Add</button>
                        
                        <hr/>
                        
                        <accordion>
                            <accordion-group heading="Título do accordion">
                                <p>Conteúdo do nosso accordion</p>
                            </accordion-group>
                            
                            <accordion-group heading="Titulo elemento 2">
                                <p>Conteúdo do outro accordion</p>
                            </accordion-group>
                            
                            <accordion-group ng-repeat="g in grupos" heading="{{ g.heading }}">
                                <div class="alert alert-success">
                                    {{ g.content }}
                                </div>
                            
                            </accordion-group>
                            
                            
                        </accordion>
                        
                    </div>
                </div>
            </div>
            
        </div>
    
        <script src="js/angular/angular.min.js"></script>
        <script src="js/angular/ui-bootstrap-tpls-0.13.0.min.js"></script>
        <script src="js/aula26Controller.js"></script>
    </body>
</html>