/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #edbaba;
    text-shadow: none;
}
::selection {
    background: #edbaba;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Outdated Browser MSG
   ========================================================================== */

.outdated-browser {
    margin: 1em 0;
    background: #5ca038;
    color: #fff;
    padding: 0.4em 0;
	text-align:center;
	font-size:1.0em;
}
.outdated-browser a {
	color: #fff;
	font-weight:bold;
	font-size:1.2em;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*
 * Comum
 */
 		/* Browser update MSG */
			.outdated-browser-content {
				position: absolute;
				top: 0;
				left: 0;
				width: 1114px;
				height: 674px;
				background-color: #5ca038;
				color:#fff;
				text-align:center;
				z-index:9999;
				font-family:Arial, Helvetica, sans-serif;
				overflow:hidden;
			}
			.outdated-browser-content table {
				margin:10% 0;
			}
			.outdated-browser-content .close {
				display:block;
				position:absolute;
				top:20px;
				right:20px;
				width: auto;
				height:auto;
				overflow: hidden;
				float:right;
				background:#adcf9b;
				color:#5ca038;
				text-align:center;
				font-weight:bold;
				line-height:0.45em;
				font-size:2em;
				padding:0.5em;	
				border:3px solid #fff;		
			}
			.outdated-browser-content .close:hover {
				background:#5ca038;
				color:#adcf9b;
				border:3px solid #adcf9b;
				cursor:pointer;
			}
			
			.outdated-browser-content h2 {
				display:block;
				clear:both;
				font-size:2.05em;
			}
			.outdated-browser-content .a-container {
				display: block;
				margin: 0 auto;
				width: 82%;
				height: 260px;
			}
			.outdated-browser-content a {
				display: block;
				width: 160px;
				height: auto;
				float: left;
				font-size: 1.2em;
				font-weight: bold;
				text-decoration: none;
				color: #adcf9b;
				text-align: center;
				cursor:pointer;
			}
			.outdated-browser-content a span {
				display:block;
				padding:10px;
			}
			.outdated-browser-content a:hover > span {
				background-color:#adcf9b;
				color:#5ca038;
			}
			
		/* Preload */
		#preload {
			width:1px;
			height:1px;
			position: absolute;
			top: -9999px;
			left: -9999px;
			
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
			filter: alpha(opacity=0);
			-moz-opacity: 0;
			-khtml-opacity: 0;
			opacity: 0;
		}
		
		/* Action */
		#action {
			width: 160px;
			height: 73px;
			position: absolute;
			float: right;
			right: 20px;
			top: 20px;
			background: url(../../assets/img/BT-Action.png) no-repeat 0 0;
			z-index: 9999;		
		}
		#action:hover {
			cursor: pointer;
			background-position:0 -73px;
		}
		
		/* Play */
		#play {
			display:block;
			width:103px;
			height:76px;
			position:absolute;
			float:right;
			right:20px;
			top:20px;
			background: url(../../assets/img/play-pause.png) no-repeat 0 0;
			cursor: pointer;
			z-index:999;		
		}
		#play:hover {
			background-position:0 -76px;
		}
		#play.pause {
			background-position:0 -152px;
		}
		#play.pause:hover {
			background-position:0 -228px;
		}
		
		/* transparência */
		/* transparência */
		.transp-20 {
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
					filter: alpha(opacity=20);
			  -moz-opacity: 0.2;
			-khtml-opacity: 0.2;
				   opacity: 0.2;
		}
		.transp-50 {
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
					filter: alpha(opacity=50);
			  -moz-opacity: 0.5;
			-khtml-opacity: 0.5;
				   opacity: 0.5;
		}
		.transp-70 {
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
					filter: alpha(opacity=70);
			  -moz-opacity: 0.7;
			-khtml-opacity: 0.7;
				   opacity: 0.7;
		}
		.transp-90 {
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
					filter: alpha(opacity=90);
			  -moz-opacity: 0.9;
			-khtml-opacity: 0.9;
				   opacity: 0.9;
		}
		.transp-100 {
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
					filter: alpha(opacity=100);
			  -moz-opacity: 1.0;
			-khtml-opacity: 1.0;
				   opacity: 1.0;
		}
		
		.borda-10 {
			-webkit-border-radius: 10px; 
			   -moz-border-radius: 10px; 
					border-radius: 10px;
				  background-clip: padding-box;
		}
		.borda-30 {
			-webkit-border-radius: 30px; 
			   -moz-border-radius: 30px; 
					border-radius: 30px;
				  background-clip: padding-box;
		}
		.borda-50 {
			-webkit-border-radius: 50px; 
			   -moz-border-radius: 50px; 
					border-radius: 50px;
				  background-clip: padding-box;
		}
		.borda-80 {
			-webkit-border-radius: 80px; 
			   -moz-border-radius: 80px; 
					border-radius: 80px;
				  background-clip: padding-box; 
		}
/*
 * Telas
 */		
		#fim {
			display:block;
			position:absolute;
			top:634px;
			left:1032px;
			width:102px;
			height:90px;
			background:url(../img/icone-fim-atividade.png) no-repeat right bottom;
			z-index:999;
			
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
					filter: alpha(opacity=0);
			  -moz-opacity: 0;
			-khtml-opacity: 0;
				   opacity: 0;
		}
		
		#nav-menos {
			display:none;
			position:absolute;
			cursor:pointer;
			z-index:999;
		}
		#nav-menos.opc-1:hover,
		#nav-menos.opc-2:hover {
			background-position:center bottom;
		}
		#nav-menos.opc-1 {
			top: 21px;
			left: 23px;
			width: 103px;
			height: 76px;
			background:url(../img/back.png) no-repeat center 0;
		}
		#nav-menos.opc-2 {
			top: 21px;
			left: 23px;
			width: 160px;
			height: 73px;
			background:url(../img/BT-Back.png) no-repeat center 0;
		}
		
		.off {
			cursor:default;
		}
			
	/* Menu principal */
		html,
		body {
			width:100%;
			height:100%;
		}
		body {
			/*overflow:hidden;*/
			background:#adcf9b;
		}
		.container {
			display:block;
			width:100%;
			min-width:1225px;
			height:100%;
			min-height:735px;
			
			position:relative;
			overflow:hidden;
		}
		#loading {
			display:block;
			position:absolute;
			width:100%;
			height:100%;
			background: rgba(0,0,0,0.5);
			cursor:wait;
			z-index:9999;
		}
		#loading span {
			display:block;
			position:relative;
			width:214px;
			height:183px;
			left:512.5px;
			top:260px;
			background:url(../img/loading-214X183-12fps.png) no-repeat 0 0;
			
			-webkit-background-size: 214px 1464px;
			   -moz-background-size: 214px 1464px;
				 -o-background-size: 214px 1464px;
					background-size: 214px 1464px;
		
			-webkit-transform: translateZ(0); /* FIX: CSS ANIMATION SLOW OR CHOPPY IN MOBILE BROWSERS */ 
			   -moz-transform: translateZ(0);
				 -o-transform: translateZ(0);
					transform: translateZ(0);
			
			-webkit-animation: loading 0.66s steps(8) infinite;
			   -moz-animation: loading 0.66s steps(8) infinite;
				 -o-animation: loading 0.66s steps(8) infinite;
					animation: loading 0.66s steps(8) infinite;
		}
		@-webkit-keyframes loading {
		   from { background-position: -0px -0px; }
			 to { background-position: -0px -1464px; }
		}
		@-moz-keyframes loading {
		   from { background-position: -0px -0px; }
			 to { background-position: -0px -1464px; }
		}
		@-o-keyframes loading {
		   from { background-position: -0px -0px; }
			 to { background-position: -0px -1464px; }
		}
		@keyframes loading {
		   from { background-position: -0px -0px; }
			 to { background-position: -0px -1464px; }
		}

		#main-content {
			display:none;
			/*width:1140px;
			height:700px;*/
			width:1114px;
			height:674px;
			margin: 15px auto;
			padding:0;
	
			font-weight:700;
			font-size:1.4em;
			position:relative;
			overflow:hidden;
			background:#fff;
			z-index:990;
			
			-webkit-box-sizing: border-box;
			   -moz-box-sizing: border-box;
			        box-sizing: border-box;
			   background-clip: padding-box;
			
			-webkit-border-radius: 20px; 
			-moz-border-radius: 20px; 
			border-radius: 20px; 
		}
		
		#borda-main-content {
			display:none;
			width:1175px;
			height:735px;
			background:url(../img/borda-atividades.png) no-repeat center center;
			position:relative;
			margin-bottom:-720px;
			padding:0 !important;
		}
		
		#atividade {
			display: block;
			position: absolute;
			width: 1114px;
			height: 674px;
			margin: 0 auto;
			
			-webkit-user-select: none; /* webkit (safari, chrome) browsers */
			   -moz-user-select: none; /* mozilla browsers */
			 -khtml-user-select: none; /* webkit (konqueror) browsers */
				-ms-user-select: none; /* IE10+ */
		}
	
	/* Tela de introdução */
		#introducao {
			display:block;
			position:relative;
			width:1114px;
			height:674px;
			background-color:#5ca038;
		}
		#introducao #rodape {
			position:absolute;
			bottom:40px;
			width:100%;
		}
		#introducao #rodape .titulo {
			float:left;
			height:57px;
			margin:30px 56px 0 0;
		}
		#introducao #rodape .marca  {
			float:right;
			width: 141px;
			height:101px;
			margin:0 56px 0 0;
			background: url(../../assets/img/introducao-marca.png) no-repeat center center;
		}
	
	/* Rodapé */
		#footer {
			width:100%;
			height:100px;
			position:absolute;
			bottom:0;
			border-bottom:6px solid #5ca038;
			overflow:hidden;
			z-index:999;
		}
		#footer .footer-content {
			height:94px;
			text-align:center;
			font-weight:700;
			font-size:1.4em;
			color:#fff;
			background:url(../img/rodape-bg.png) no-repeat bottom center; 
		}
		#footer .footer-content .intro-link {
			width:334px;
			height:54px;
			float:left;
			margin:40px 10px 0 0px;
		}
		#footer .footer-content .menu-link {
			width:110px;
			height:68px;
			float:left;
			margin:20px 0 0 155px;
			background:url(../img/rodape-marca.png) no-repeat bottom center; 
		}
		#footer .footer-content .nav-btn {
			width: 210px;
			height: 94px;
			float: left;
			margin: 0 115px;
		}
		#footer .footer-content .nav-btn .voltar,
		#footer .footer-content .nav-btn .avancar,
		#footer .footer-content .nav-btn .recarregar {
			display:block;
			width:30px;
			height:30px;
			float:left;
			margin:42px 20px 10px;
			text-indent:-999em;
			background:url(../img/rodape-btn-sprite.png) no-repeat;
			cursor:pointer;
		}
		
		#footer .footer-content .nav-btn .voltar {
			background-position:0 0;
		}
		#footer .footer-content .nav-btn .voltar[href^='#'] {
			background-position:-30px 0px;
			cursor:default;
		}
		
		#footer .footer-content .nav-btn .avancar {
			background-position:0 -30px;
		}
		#footer .footer-content .nav-btn .avancar[href^='#'] {
			background-position:-30px -30px;
			cursor:default;
		}
		
		#footer .footer-content .nav-btn .recarregar {
			background-position:-64px -1px;
		}
	
	/* menu das telas */
	.menu-telas {
		width:940px;
		height:500px;
		padding-top:80px;
		margin:0 auto;
	}
	.nav-link.off:hover {
		background-position:0 0 !important;
	}
	#introducao .menu-telas a {
		-webkit-border-radius: 0px; 
		   -moz-border-radius: 0px; 
				border-radius: 0px;
		background-clip: padding-box;
		
		background-size: 95% 95% !important;
	}
	#introducao .menu-telas a:not(.off):hover {
		background-size: 100% 100% !important;
	}
	

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}