---
layout: default
---
    <div class="viewbar col-md-2">
        {% include viewbar.html %}       
    </div>

    <div id="main" class="col-md-offset-2 col-md-8" role="main">
       <a href="#irconteudo" class="sr-only" id="irconteudo" name="irconteudo" accesskey="1">Início do conteúdo</a>
<!--Aqui vai o conteúdo-->

        {{ content }}
        
<!--Fim do conteúdo-->
       <a href="#fimconteudo" id="fimconteudo" name="fimconteudo" class="sr-only">Fim do conteúdo</a>
    </div>

    <div class="actionbar col-md-2">
        {% include actionbar.html %}       
    </div>
